footer.footer(itemscope='' itemtype='http://schema.org/WPFooter')
  meta(itemprop='copyrightYear' content='!!!2019!!!')
  meta(itemprop='copyrightHolder' content='!!!Держатель_копирайта!!!')
  .container
    .footer__top
      .footer__col.custom.col-4.col-lg-4.col-md-4.col-sm-4.col-xs-12
        ul(itemscope='itemscope' itemtype='http://schema.org/SiteNavigationElement')
          li(itemprop='name')
            a.big(itemprop='url' href='#') Моделям
          li(itemprop='name')
            a.small(itemprop='url' href='#') Заработки
          li(itemprop='name')
            a.small(itemprop='url' href='#') Где лучше работать
          li(itemprop='name')
            a.small(itemprop='url' href='#') Что нужно
          li(itemprop='name')
            a.small(itemprop='url' href='#') Верификация
          li(itemprop='name')
            a.small(itemprop='url' href='#') Требования к рабочему месту
          li(itemprop='name')
            a.small(itemprop='url' href='#') Программы для вебкам
          li(itemprop='name')
            a.small(itemprop='url' href='#') Платежные системы
      .footer__col.custom.col-4.col-lg-4.col-md-4.col-sm-4.col-xs-12
        ul(itemscope='itemscope' itemtype='http://schema.org/SiteNavigationElement')
          li(itemprop='name')
            a.big(itemprop='url' href='#') Студиям
          li(itemprop='name')
            a.small(itemprop='url' href='#') Законность
          li(itemprop='name')
            a.small(itemprop='url' href='#') Доход студии
          li(itemprop='name')
            a.small(itemprop='url' href='#') Поиск моделей
          li(itemprop='name')
            a.small(itemprop='url' href='#') Методы контроля моделей
          li(itemprop='name')
            a.small(itemprop='url' href='#') Прибыльные вебкам сайты
          li(itemprop='name')
            a.small(itemprop='url' href='#') Выбор помещения
          li(itemprop='name')
            a.small(itemprop='url' href='#') Софт для вебкам
          li(itemprop='name')
            a.small(itemprop='url' href='#') Платежные системы
      .footer__col.footer__col-tg.custom.col-4.col-lg-4.col-md-4.col-sm-4.col-xs-12
        .footer__col-3
          ul(itemscope='itemscope' itemtype='http://schema.org/SiteNavigationElement')
            li(itemprop='name')
              a.big(itemprop='url' href='#') Франшиза
            li(itemprop='name')
              a.big(itemprop='url' href='#') Продвижение
            li(itemprop='name')
              a.big(itemprop='url' href='#') Блог
            li(itemprop='name')
              a.big(itemprop='url' href='#') FAQ
            li(itemprop='name')
              a.big(itemprop='url' href='#') DMCA
            li(itemprop='name')
              a.big(itemprop='url' href='#') Работа моделям
        .footer__tg
          div.footer__tg__col__first
            p Заявки по вакансиям отправляйте сюда
            a.big(href='#')
              img(src='assets/img/footer_telegram.svg', alt='Наш телеграм канал @vrcams')
              |                                 @vrcams
          div.footer__tg__col__second
            p Наш телеграм-канал про вебкам
            a.big(href='#')
              img(src='assets/img/footer_telegram.svg', alt='Наш телеграм канал @webcam_vrmedia')
              |                                 @webcam_vrmedia
      .footer__col.col-3.col-lg-12.col-md-12.col-sm-12.col-xs-12(style="display:none")
        div.footer_last_col__row
          div.footer_last_col__col__first
            p.text.big Подпишись на наши новости
            .form__block
              label.form__lbl(for='form__email__footer') Электронная почта
              input#form__email__footer.form__fld(type='text')
              a(href='#')
            p.text.small Мы обещаем не рассылать спам и не передавать информацию третьим лицам
          div.footer_last_col__col__second
            p.text.service Наши сервисы:
            .footer__img-logo(itemscope='itemscope' itemtype='http://schema.org/Service')
              a.footer__img-logo-item(href='#' itemprop='url')
                //+svg("assets/img/sprite.svg", "footer__service__1", "sm", "Model monitor")
                img(itemprop='logo' src='assets/img/footer__service__1.svg' alt='Model monitor')
              a.footer__img-logo-item(href='#' itemprop='url')
                img(itemprop='logo' src='assets/img/footer__service__2.svg' alt='One Mylink.com')
              a.footer__img-logo-item(href='#' itemprop='url')
                img(itemprop='logo' src='assets/img/footer__service__3.svg' alt='TOP 1000')
              a.footer__img-logo-item(href='#' itemprop='url')
                img(itemprop='logo' src='assets/img/footer__service__4.svg' alt='Relivecams')
  .footer__bottom
    .container
      .row
        .footer__bottom-left.col-12.col-xl-8.col-lg-8
          .row
            p.copyright &#169 &#171vrmedia&#187, 2020
            a(href='#')
              | Политика конфиденциальности
            a(href='#')
              | Пользовательское соглашение
        .footer__bottom-right.col-12.col-xl-4.col-lg-4
          .row
            a(href='#modal', data-model-type='2').lnk__open-modal-js
              span Задать вопрос
            a(href='#modal', data-model-type='1').lnk__open-modal-js
              span Предложить сотрудничество
  script(type='application/ld+json').
    {"@context": "http://schema.org",
    "@type": "Organization",
    "name" : "",
    "alternateName": "",
    "description": "",
    "url": "https://vrcams.ru",
    "email": "",
    "legalName": "OOO",
    "logo": "https://vrcams.ru/layout/vrcams_new/assets/img/VRMEDIA.png",
    "address": {
    "@type": "PostalAddress",
    "addressCountry": "RU",
    "addressLocality": "Красноярск",
    "addressRegion": "Красноярский край",
    "postalCode": "660066",
    "streetAddress": ""
    },
    "telephone": "",
    "sameAs" : ["tg://resolve?domain=webcam_vrmedia", "tg://resolve?domain=vrcams"]
    }

