.remodal(data-remodal-id='modal')
    .remodal__inner#div_modal
      form#modal_question(action='', novalidate='')
        p.remodal__subtitle
          | Введите удобный для вас способ связи
        .form__block__wrap#div_email_modal
          .form__block
            label.form__lbl(for='form_email_modal') Телефон или эл. почту
            input#form_email_modal.form__fld.form__fld__js(type='text', required='', autocomplete='off')
          label.form__error Дурачок что ли
        .form__block__wrap#div_question_modal
          .form__block.textarea
            label.form__lbl(for='form_question_modal') Ваш вопрос
            textarea#form_question_modal.form__fld(autocomplete='off')
        .remodal__button__wrap
          button#btn_submit.remodal-confirm(data-remodal-action='', type='submit') Отправить
        p.remodal__bottom
          | Нажав на кнопку, соглашаюсь на обработку<br>
          a.remodal__bottom__link(href='#') персональных данных
.remodal(data-remodal-id='modal_success')
    .remodal__inner#div_modal_success
      h1 Запрос отправлен!
      p.remodal__subtitle
        | После обработки, мы свяжемся с вами
      .remodal__button__wrap
        button.remodal-confirm(data-remodal-action='confirm', type='submit') Ок! Жду
