extends ../layout/main
include ../includes/modules/article

block variablesHeader
  - const isStart = true
block variables
  - var title = 'VRMEDIA index'
  - var description = 'Description index'
  - var pageClass = 'index-page'
  -
    const articles_main = [{
      tags: ['Инструкции', 'Для моделей'],
      date: '12 декабря 2019',
      type: 'article',
      title: 'Как заработать на Fancentro — инструкция для вебкам моделей',
      title_mobile: 'Как заработать на Fancentro',
      description: 'Fancentro - еще один достойный adult сайт, который позволяет вебкам моделям и студиям получать пассивный доход.',
      img: 'assets/img/icon_news_star.svg',
      img_bg: 'assets/img/icon_news_bg.svg'
    },
      {
        tags: ['Инструкции', 'Для моделей'],
        date: '06 мая 2020',
        type: 'article',
        title: 'Как заработать на Onlyfans — инструкция для вебкам моделей',
        title_mobile: 'Как заработать на Onlyfans',
        description: 'Onlyfans - отличный вариант для получения дополнительного дохода как для вебкам моделей, так и для вебкам студий.',
        img: 'assets/img/icon_news_lock.svg',
      },
      {
        tags: ['Инструкции', 'Для моделей'],
        date: '06 мая 2020',
        type: 'article',
        title: 'Как оформить своё Bio на Chaturbate',
        title_mobile: 'Как оформить Chaturbate',
        description: 'Способы оформления и варианты использования вкладки «Bio» на вебкам сайте Chaturbate',
        img: 'assets/img/icon_news_chaturbate.svg',
      },
      {
        tags: ['Инструкции', 'Для моделей'],
        date: '06 мая 2020',
        type: 'article',
        title: 'Как правильно продвать свой Snapchat',
        title_mobile: 'Как свой Snapchat',
        description: 'Способы оформления и варианты использования вкладки «Bio» на вебкам сайте Chaturbate',
        img: 'assets/img/icon_news_snapchat.svg',
      }]
block content
  section.hero-main.wrapper
    .container
      .hero-main__inner__wrap
        .hero-main__inner
          .hero-main__title
            .hero-main__title__inner
              h1 Webcam
              h1.subtitle wikipedia
            .hero-main__title__link__wrap
              span.hero-main__title__link.title_link_js
                img(src='assets/img/icon_arrow_main.svg', alt='Arrow')
          .hero-main__description
            .hero-main__description__col.col-6
              .hero-main__description__col__title
                p.text Моделям
              .hero-main__description__col__content
                p.text Представлена информация об основах, площадках и вывода денежных средств
            .hero-main__description__col.col-6
              .hero-main__description__col__title
                p.text Студиям
              .hero-main__description__col__content
                p.text Своя студия для вебкама - задача не из легких. Мы поможем
          .hero-main__bottom
            .hero-main__bottom__col
              span.title_link_js
                img(src='assets/img/icon_arrow_main.svg', alt='Arrow')
            .hero-main__bottom__col.circle
              svg(width='163', height='163', viewBox='0 0 163 163', fill='none', xmlns='http://www.w3.org/2000/svg' class='wiki')
                path(d='M49.3138 14.1053L48.2313 7.09679L50.098 6.20209L51.1584 15.7069L49.4077 16.5464L42.6864 9.75327L44.5476 8.86409L49.3138 14.1053Z', fill='white' )
                path(d='M56.6477 9.93589L55.2505 10.4219L56.3385 13.5423L54.5822 14.1553L51.6109 5.63361L54.781 4.52904C55.7862 4.17558 56.6422 4.1314 57.3491 4.39097C58.0505 4.65054 58.5476 5.18626 58.8348 6.00916C59.0391 6.58906 59.0833 7.11925 58.9618 7.59421C58.8458 8.06918 58.5697 8.511 58.1389 8.91969L61.1985 11.7639L61.2262 11.8468L59.3429 12.504L56.6477 9.93589ZM54.7534 9.00253L56.1728 8.511C56.6146 8.35636 56.9184 8.1244 57.0785 7.81513C57.2442 7.50585 57.2552 7.15239 57.1172 6.76027C56.9791 6.3571 56.7527 6.08096 56.4434 5.93184C56.1341 5.78272 55.742 5.78825 55.2725 5.95393L53.8587 6.44546L54.7534 9.00253Z', fill='white')
                path(d='M62.5018 2.23681L66.1082 8.17386L67.0305 1.29241L69.4219 0.795356L71.2665 9.63741L69.4385 10.0185L68.9359 7.59948L68.2455 3.39109L67.2349 10.4769L65.9867 10.7365L62.2367 4.65029L63.286 8.77585L63.7886 11.1948L61.9661 11.5759L60.1214 2.73387L62.5018 2.23681Z', fill='white')
                path(d='M77.7278 5.20804L74.1656 5.50627L74.3644 7.91975L78.5452 7.57181L78.6667 9.06297L72.6357 9.56555L71.8902 0.563334L77.91 0.0662796L78.0371 1.56849L73.8728 1.91643L74.0496 4.05929L77.6118 3.76105L77.7278 5.20804Z', fill='white')
                path(d='M79.546 9.02983L79.7172 0L82.4952 0.0552283C83.2905 0.0717968 83.9974 0.265096 84.616 0.629603C85.2346 0.99411 85.715 1.51878 86.0519 2.18152C86.3888 2.84978 86.5545 3.60089 86.5379 4.44036L86.5324 4.85457C86.5158 5.69404 86.3281 6.4341 85.9746 7.08579C85.6211 7.73749 85.1186 8.22902 84.4834 8.57696C83.8483 8.92489 83.1359 9.09058 82.3461 9.08506L79.546 9.02983ZM81.5508 1.54087L81.4348 7.56628L82.3351 7.58285C83.0641 7.59389 83.6219 7.36746 84.014 6.90354C84.4061 6.4341 84.616 5.76031 84.6436 4.87666L84.6546 4.4017C84.6712 3.48491 84.4945 2.78351 84.1245 2.30302C83.7544 1.82253 83.2022 1.57401 82.4676 1.56296L81.5508 1.54087Z', fill='white')
                path(d='M89.5916 9.52662L87.7415 9.34437L88.6306 0.358724L90.4808 0.540977L89.5916 9.52662Z', fill='white')
                path(d='M96.5829 8.74275L93.3741 8.1518L92.4297 9.8694L90.4857 9.51042L95.4286 1.23722L97.1241 1.55202L98.8086 11.0458L96.8645 10.6868L96.5829 8.74275ZM94.1418 6.76005L96.362 7.16874L95.8594 3.63965L94.1418 6.76005Z', fill='white')
                path(d='M108.812 16.237L107.807 15.8228L111.877 5.9204L112.882 6.33461L108.812 16.237Z', fill='white')
                path(d='M126.429 21.4119L131.123 16.8555L132.642 17.9214L125.805 24.1512L124.275 23.0742L126.551 17.2863L121.873 21.3787L120.343 20.3018L123.905 11.7635L125.424 12.8294L122.729 18.7775L127.639 14.3923L128.925 15.2981L126.429 21.4119Z', fill='white')
                path(d='M129.428 27.2554L128.02 26.0403L133.924 19.2031L135.332 20.4181L129.428 27.2554Z', fill='white')
                path(d='M135.199 27.7244L133.78 27.7686L131.946 29.5856L130.637 28.2602L137.06 21.9089L138.369 23.2344L135.459 26.1118L136.834 25.9019L140.562 25.449L142.169 27.0783L137.06 27.6195L135.812 33.4958L134.255 31.9218L135.199 27.7244Z', fill='white')
                path(d='M137.347 35.4677L136.149 34.0483L143.041 28.2218L144.24 29.6411L137.347 35.4677Z', fill='white')
                path(d='M142.052 36.3016L139.467 38.1573L138.385 36.6441L145.725 31.3808L147.779 34.2416C148.177 34.7939 148.42 35.3517 148.519 35.915C148.619 36.4784 148.563 37.003 148.354 37.4946C148.144 37.9861 147.801 38.4003 147.326 38.7427C146.608 39.2563 145.863 39.4165 145.095 39.2232C144.327 39.0299 143.632 38.4942 143.008 37.6271L142.052 36.3016ZM143.273 35.4235L144.239 36.7766C144.526 37.1742 144.841 37.4117 145.178 37.489C145.515 37.5664 145.863 37.478 146.211 37.2239C146.57 36.9644 146.785 36.6496 146.857 36.2795C146.929 35.9095 146.829 35.534 146.57 35.1584L145.576 33.7722L143.273 35.4235Z', fill='white')
                path(d='M149.035 45.9501L147.262 42.8462L145.163 44.0447L147.245 47.6842L145.948 48.4243L142.943 43.1666L150.785 38.6875L153.784 43.9342L152.475 44.6798L150.399 41.0513L148.532 42.1172L150.305 45.221L149.035 45.9501Z', fill='white')
                path(d='M146.338 49.2083L154.601 45.5632L155.722 48.1037C156.042 48.8272 156.164 49.5507 156.092 50.2686C156.02 50.9866 155.749 51.6383 155.285 52.2292C154.822 52.8147 154.208 53.2786 153.441 53.621L153.06 53.7867C152.292 54.1236 151.541 54.2672 150.801 54.2175C150.066 54.1678 149.404 53.9248 148.824 53.494C148.244 53.0632 147.785 52.4888 147.465 51.7653L146.338 49.2083ZM153.977 47.8773L148.459 50.3128L148.824 51.1357C149.116 51.804 149.558 52.2127 150.149 52.3728C150.74 52.533 151.442 52.4391 152.253 52.0912L152.69 51.8979C153.529 51.5278 154.087 51.075 154.369 50.5337C154.65 49.9925 154.639 49.3905 154.347 48.7222L153.977 47.8773Z', fill='white')
                path(d='M150.111 58.5199L149.498 56.7636L158.025 53.7978L158.638 55.5541L150.111 58.5199Z', fill='white')
                path(d='M153.755 64.5507L152.949 61.3916L150.994 61.2536L150.502 59.3371L160.085 60.3533L160.51 62.0268L152.601 67.5385L152.11 65.6221L153.755 64.5507ZM154.529 61.5021L155.086 63.6891L158.08 61.7506L154.529 61.5021Z', fill='white')
                path(d='M156.362 77.9328L162.862 78.6563L163 80.5065L153.843 79.192L153.7 77.3253L159.615 75.4034L153.479 74.3982L153.335 72.5315L162.188 69.8474L162.326 71.6975L156.025 73.4041L162.531 74.4037L162.652 75.9722L156.362 77.9328Z', fill='white')
                path(d='M157.517 87.5424L157.677 83.9747L155.258 83.8642L155.07 88.0505L153.579 87.9842L153.85 81.9368L162.874 82.3399L162.604 88.3764L161.096 88.3101L161.284 84.1348L159.135 84.0409L158.975 87.6087L157.517 87.5424Z', fill='white')
                path(d='M153.496 88.8566L162.432 90.1765L161.968 93.308C161.808 94.3904 161.476 95.1857 160.979 95.6828C160.482 96.1798 159.83 96.3731 159.03 96.2516C158.593 96.1854 158.223 96.0197 157.925 95.7435C157.627 95.4674 157.428 95.1195 157.329 94.6942C157.146 95.136 156.865 95.4619 156.478 95.6773C156.091 95.8927 155.644 95.9589 155.142 95.8871C154.28 95.7601 153.672 95.3901 153.313 94.777C152.954 94.164 152.844 93.3466 152.982 92.336L153.496 88.8566ZM157.113 91.27L154.7 90.9166L154.468 92.4906C154.401 92.9269 154.457 93.2804 154.628 93.551C154.799 93.8216 155.064 93.9873 155.429 94.0425C156.246 94.164 156.727 93.7995 156.859 92.9545L157.113 91.27ZM158.417 91.4634L158.218 92.8275C158.096 93.7608 158.4 94.28 159.123 94.3849C159.527 94.4457 159.836 94.3684 160.051 94.1585C160.267 93.9486 160.41 93.5896 160.482 93.0871L160.67 91.8002L158.417 91.4634Z', fill='white')
                path(d='M153.38 104.254C152.458 103.94 151.812 103.398 151.436 102.631C151.061 101.863 151.011 100.968 151.276 99.9411C151.569 98.8199 152.182 98.0412 153.104 97.5939C154.026 97.1521 155.148 97.1023 156.462 97.4503L156.998 97.5883C157.837 97.8093 158.539 98.1517 159.102 98.6156C159.665 99.0795 160.041 99.6318 160.24 100.272C160.438 100.913 160.438 101.598 160.251 102.321C159.986 103.327 159.5 104.072 158.798 104.542C158.097 105.017 157.246 105.171 156.241 105.011L156.716 103.211C157.29 103.316 157.743 103.266 158.069 103.061C158.395 102.857 158.627 102.482 158.776 101.929C158.936 101.327 158.837 100.825 158.483 100.411C158.13 100.002 157.506 99.6705 156.606 99.4275L155.948 99.2562C155.004 99.0077 154.275 98.9691 153.767 99.1403C153.253 99.3115 152.922 99.7036 152.756 100.322C152.613 100.88 152.629 101.327 152.811 101.664C152.994 102.007 153.347 102.266 153.866 102.443L153.38 104.254Z', fill='white')
                path(d='M150.044 109.838L151.226 106.8L149.718 105.547L150.436 103.702L157.632 110.109L157.008 111.716L147.365 111.589L148.083 109.744L150.044 109.838ZM152.446 107.811L151.629 109.915L155.191 110.081L152.446 107.811Z', fill='white')
                path(d='M153.894 118.603L147.04 117.476L151.663 122.657L150.481 124.799L142.572 120.442L143.472 118.807L145.632 120L149.271 122.22L144.555 116.835L145.173 115.714L152.237 116.83L148.421 114.941L146.256 113.748L147.156 112.119L155.065 116.477L153.894 118.603Z', fill='white')
                path(d='M137.402 127.307L138.512 125.898L143.93 130.184L144.737 128.097L145.88 129.002L144.61 132.769L144.488 132.918L137.402 127.307Z', fill='white')
                path(d='M136.37 138.248C136.055 137.944 135.85 137.596 135.756 137.204C135.663 136.812 135.679 136.403 135.801 135.989C135.342 136.16 134.895 136.21 134.448 136.132C134.006 136.061 133.603 135.851 133.238 135.503C132.658 134.945 132.393 134.31 132.437 133.592C132.481 132.874 132.829 132.178 133.481 131.504C134.133 130.831 134.818 130.455 135.536 130.383C136.254 130.311 136.9 130.554 137.474 131.107C137.833 131.455 138.06 131.847 138.148 132.294C138.236 132.736 138.209 133.189 138.054 133.642C138.468 133.504 138.871 133.476 139.263 133.553C139.656 133.631 140.015 133.824 140.329 134.128C140.882 134.663 141.147 135.271 141.119 135.956C141.092 136.641 140.771 137.303 140.164 137.938C139.556 138.568 138.91 138.916 138.225 138.971C137.551 139.026 136.927 138.783 136.37 138.248ZM134.58 134.299C134.862 134.569 135.166 134.708 135.497 134.708C135.823 134.708 136.121 134.569 136.386 134.293C136.651 134.017 136.778 133.719 136.767 133.393C136.756 133.067 136.607 132.769 136.32 132.493C136.044 132.228 135.74 132.09 135.42 132.09C135.099 132.09 134.796 132.228 134.519 132.515C134.249 132.797 134.122 133.095 134.133 133.41C134.144 133.719 134.293 134.017 134.58 134.299ZM137.546 136.895C137.8 137.138 138.065 137.265 138.347 137.281C138.628 137.298 138.888 137.182 139.125 136.933C139.357 136.69 139.462 136.431 139.446 136.155C139.424 135.878 139.286 135.613 139.02 135.359C138.761 135.111 138.49 134.978 138.203 134.956C137.916 134.94 137.656 135.05 137.419 135.293C137.181 135.536 137.082 135.801 137.11 136.088C137.143 136.375 137.292 136.646 137.546 136.895Z', fill='white')
                path(d='M131.21 140.705L129.509 142.163L128.455 140.937L130.156 139.479L128.51 137.557L129.802 136.447L131.448 138.369L133.149 136.906L134.204 138.132L132.503 139.595L134.082 141.434L132.79 142.544L131.21 140.705Z', fill='white')
                path(d='M115.703 143.246L116.648 142.71L121.917 152.027L120.972 152.563L115.703 143.246Z', fill='white')
                path(d='M104.166 152.474L104.282 159.566L102.31 160.195L102.559 150.635L104.409 150.044L110.136 157.693L108.17 158.323L104.166 152.474Z', fill='white')
                path(d='M96.3243 155.6L97.7768 155.307L97.1251 152.066L98.9476 151.701L100.726 160.554L97.4344 161.211C96.3906 161.421 95.5345 161.349 94.8718 160.996C94.2091 160.643 93.7949 160.04 93.6236 159.19C93.5021 158.588 93.5297 158.058 93.712 157.599C93.8942 157.141 94.2256 156.743 94.7061 156.395L92.0662 153.159L92.0496 153.076L94.0102 152.684L96.3243 155.6ZM98.075 156.788L96.6004 157.08C96.1421 157.174 95.8107 157.362 95.6063 157.644C95.402 157.925 95.3412 158.273 95.4241 158.682C95.5069 159.102 95.6947 159.405 95.9764 159.593C96.2636 159.786 96.6502 159.831 97.1417 159.731L98.6052 159.439L98.075 156.788Z', fill='white')
                path(d='M89.4705 162.426L86.7035 156.053L84.8534 162.747L82.4178 162.912L81.7937 153.904L83.6549 153.777L83.8261 156.241L83.9366 160.504L85.9027 153.623L87.1785 153.534L90.0669 160.073L89.5864 155.843L89.4152 153.38L91.2709 153.253L91.895 162.26L89.4705 162.426Z', fill='white')
                path(d='M74.8017 157.428L78.3695 157.611L78.4965 155.197L74.3102 154.982L74.3875 153.491L80.435 153.805L79.9711 162.824L73.9402 162.515L74.0175 161.007L78.1927 161.223L78.3032 159.074L74.7355 158.892L74.8017 157.428Z', fill='white')
                path(d='M73.5196 153.397L72.1278 162.321L69.383 161.896C68.5987 161.775 67.925 161.487 67.3616 161.04C66.7983 160.593 66.3951 160.013 66.1466 159.306C65.9036 158.599 65.8429 157.831 65.9699 157.003L66.0362 156.594C66.1632 155.766 66.4504 155.053 66.8922 154.462C67.334 153.871 67.8918 153.446 68.5711 153.187C69.2504 152.927 69.9739 152.855 70.7582 152.977L73.5196 153.397ZM70.5207 160.549L71.4485 154.589L70.5594 154.451C69.8414 154.341 69.256 154.49 68.8031 154.899C68.3502 155.307 68.052 155.954 67.9084 156.826L67.8366 157.296C67.693 158.201 67.7758 158.919 68.0796 159.444C68.3834 159.969 68.897 160.289 69.6205 160.405L70.5207 160.549Z', fill='white')
                path(d='M63.6454 151.546L65.4569 151.983L63.3527 160.764L61.5412 160.333L63.6454 151.546Z', fill='white')
                path(d='M56.5919 151.359L59.6902 152.386L60.8666 150.812L62.7443 151.436L56.7134 158.953L55.0786 158.411L54.7086 148.774L56.5864 149.398L56.5919 151.359ZM58.7348 153.662L56.5919 152.955L56.6085 156.522L58.7348 153.662Z', fill='white')
                path(d='M50.8035 145.101L51.7866 145.565L47.2137 155.241L46.2306 154.777L50.8035 145.101Z', fill='white')
                path(d='M38.5164 142.881L33.9766 147.586L32.4247 146.57L39.0521 140.114L40.6206 141.141L38.5385 147.001L43.0782 142.754L44.6467 143.781L41.3717 152.43L39.8198 151.414L42.3161 145.383L37.5554 149.934L36.2355 149.072L38.5164 142.881Z', fill='white')
                path(d='M35.3245 137.138L36.7715 138.308L31.0996 145.333L29.6526 144.163L35.3245 137.138Z', fill='white')
                path(d='M29.552 136.867L30.9714 136.773L32.7442 134.901L34.0973 136.182L27.8896 142.743L26.5365 141.462L29.3532 138.49L27.989 138.744L24.2777 139.319L22.6153 137.745L27.7018 137.032L28.7567 131.117L30.3638 132.642L29.552 136.867Z', fill='white')
                path(d='M27.1386 129.19L28.3868 130.571L21.6821 136.624L20.4339 135.243L27.1386 129.19Z', fill='white')
                path(d='M22.423 128.527L24.947 126.589L26.0791 128.063L18.916 133.564L16.7676 130.77C16.3534 130.234 16.0883 129.682 15.9724 129.124C15.8564 128.566 15.895 128.036 16.0883 127.539C16.2816 127.042 16.6075 126.616 17.0714 126.257C17.7728 125.716 18.5129 125.534 19.2861 125.7C20.0592 125.871 20.7717 126.379 21.4234 127.229L22.423 128.527ZM21.2246 129.444L20.2139 128.13C19.9157 127.738 19.5953 127.511 19.2529 127.45C18.9105 127.39 18.5681 127.484 18.2312 127.749C17.8777 128.019 17.6789 128.34 17.6182 128.715C17.5574 129.091 17.6679 129.461 17.9385 129.825L18.9768 131.178L21.2246 129.444Z', fill='white')
                path(d='M15.1105 119.105L16.9827 122.149L19.0427 120.878L16.8447 117.311L18.1149 116.526L21.2905 121.679L13.6028 126.418L10.4326 121.276L11.7139 120.486L13.9065 124.043L15.7401 122.916L13.8678 119.873L15.1105 119.105Z', fill='white')
                path(d='M17.6996 115.77L9.5645 119.691L8.36053 117.189C8.01811 116.477 7.869 115.759 7.9187 115.035C7.96841 114.317 8.21693 113.654 8.65876 113.052C9.10059 112.45 9.69705 111.964 10.4537 111.6L10.8292 111.418C11.5859 111.053 12.3314 110.887 13.0715 110.91C13.8116 110.932 14.4798 111.158 15.0763 111.567C15.6728 111.975 16.1477 112.539 16.4901 113.246L17.6996 115.77ZM10.1168 117.36L15.5457 114.742L15.1536 113.931C14.8388 113.273 14.3804 112.876 13.7839 112.738C13.1875 112.6 12.4916 112.716 11.6908 113.091L11.26 113.301C10.4316 113.699 9.89035 114.174 9.62526 114.72C9.36568 115.267 9.3933 115.875 9.7081 116.532L10.1168 117.36Z', fill='white')
                path(d='M13.6189 106.579L14.2871 108.314L5.86482 111.567L5.19656 109.832L13.6189 106.579Z', fill='white')
                path(d='M9.77538 100.681L10.6922 103.813L12.6528 103.884L13.2051 105.784L3.59534 105.088L3.10933 103.431L10.8302 97.6546L11.3825 99.5545L9.77538 100.681ZM9.1016 103.757L8.46647 101.592L5.53937 103.63L9.1016 103.757Z', fill='white')
                path(d='M6.72129 87.393L0.198822 86.8849L0 85.0403L9.19551 86.0509L9.39986 87.9121L3.5567 90.0329L9.72018 90.8392L9.92453 92.7004L1.16532 95.6772L0.960973 93.8326L7.20177 91.9217L0.66274 91.1375L0.491532 89.5745L6.72129 87.393Z', fill='white')
                path(d='M5.26268 77.8224L5.20745 81.3957L7.62645 81.4343L7.69273 77.2425L9.18941 77.2646L9.09 83.3176L0.0546516 83.174L0.154063 77.1321L1.6618 77.1541L1.59552 81.3349L3.74943 81.3681L3.80465 77.7948L5.26268 77.8224Z', fill='white')
                path(d='M9.22925 76.3749L0.254653 75.3532L0.613637 72.2107C0.73514 71.1227 1.0389 70.3219 1.51938 69.8028C1.99987 69.2892 2.64604 69.0738 3.44685 69.1676C3.88868 69.2174 4.25871 69.3775 4.56798 69.6371C4.87726 69.9022 5.08713 70.2446 5.19759 70.6643C5.36327 70.217 5.63941 69.8801 6.01497 69.6537C6.39052 69.4272 6.83787 69.3444 7.34045 69.3996C8.20201 69.499 8.82609 69.847 9.20716 70.4489C9.58824 71.0509 9.72631 71.8628 9.61585 72.879L9.22925 76.3749ZM4.22557 73.9338L4.38021 72.5642C4.46857 71.6308 4.14825 71.1227 3.42476 71.0399C3.01607 70.9957 2.71231 71.0785 2.50797 71.2939C2.30362 71.5093 2.17108 71.8738 2.11032 72.3819L1.96121 73.6743L4.22557 73.9338ZM5.52896 74.083L7.95348 74.3591L8.13573 72.7741C8.18544 72.3378 8.11916 71.9843 7.94243 71.7192C7.7657 71.4541 7.48956 71.2939 7.12505 71.2553C6.30215 71.1614 5.83823 71.5369 5.72778 72.3875L5.52896 74.083Z', fill='white')
                path(d='M8.82623 60.9832C9.75959 61.2648 10.4223 61.7895 10.8255 62.5406C11.2287 63.2972 11.3115 64.1919 11.074 65.2192C10.8144 66.3458 10.2346 67.1522 9.32881 67.6216C8.42306 68.0966 7.30193 68.1794 5.97645 67.8812L5.44074 67.7597C4.59574 67.5664 3.8833 67.246 3.3034 66.8042C2.72903 66.3569 2.32586 65.8212 2.11047 65.186C1.88956 64.5509 1.86746 63.8716 2.03315 63.1371C2.26511 62.1209 2.7235 61.3642 3.40833 60.8672C4.09316 60.3701 4.93816 60.1879 5.94331 60.3149L5.5291 62.1319C4.9492 62.0491 4.50185 62.1098 4.18153 62.3252C3.86121 62.5406 3.64029 62.9217 3.51327 63.4795C3.3752 64.0815 3.49118 64.584 3.85568 64.9872C4.22019 65.3904 4.85532 65.6941 5.76658 65.9095L6.42932 66.0586C7.37925 66.274 8.10826 66.2906 8.61636 66.1028C9.12446 65.915 9.44479 65.5119 9.58838 64.8878C9.71541 64.33 9.68227 63.8826 9.48897 63.5457C9.29567 63.2089 8.93669 62.9603 8.4065 62.8002L8.82623 60.9832Z', fill='white')
                path(d='M11.973 55.3L10.8905 58.3762L12.4424 59.5802L11.7852 61.4469L4.37911 55.2835L4.94796 53.6542L14.5908 53.4554L13.9336 55.3221L11.973 55.3ZM9.63684 57.4042L10.3824 55.2724L6.8202 55.2282L9.63684 57.4042Z', fill='white')
                path(d='M7.83689 46.6624L14.7294 47.5626L9.93557 42.5368L11.0401 40.3608L19.0924 44.4532L18.2474 46.1156L16.0493 44.9945L12.3325 42.8958L17.2257 48.1204L16.6458 49.2581L9.54897 48.38L13.426 50.1417L15.6241 51.2629L14.7791 52.9197L6.7268 48.8273L7.83689 46.6624Z', fill='white')
                path(d='M24.0236 37.4173L22.9577 38.8588L17.4017 34.7553L16.6617 36.8705L15.4908 36.0035L16.6341 32.1982L16.75 32.0436L24.0236 37.4173Z', fill='white')
                path(d='M24.7028 26.4378C25.0286 26.7305 25.244 27.0729 25.349 27.4651C25.4539 27.8572 25.4539 28.2604 25.349 28.6801C25.7963 28.4978 26.2492 28.4316 26.6965 28.4923C27.1439 28.5531 27.5526 28.7464 27.9226 29.0833C28.5191 29.619 28.8063 30.2486 28.7842 30.9665C28.7621 31.6845 28.4418 32.3914 27.8122 33.0873C27.1825 33.7832 26.5143 34.1808 25.7963 34.2747C25.0839 34.3686 24.4267 34.1532 23.8357 33.6175C23.4657 33.2806 23.2282 32.894 23.1233 32.4577C23.0183 32.0159 23.0349 31.5685 23.173 31.1046C22.7643 31.2537 22.3611 31.2979 21.9635 31.2316C21.5658 31.1654 21.2068 30.9886 20.881 30.6904C20.3121 30.1768 20.025 29.5748 20.0305 28.89C20.036 28.2051 20.3287 27.5313 20.9197 26.8796C21.5051 26.228 22.1402 25.8634 22.8195 25.7861C23.4988 25.7088 24.1284 25.9187 24.7028 26.4378ZM23.5706 27.8296C23.311 27.5921 23.0404 27.4761 22.7532 27.4706C22.4716 27.4651 22.2175 27.5921 21.9911 27.8406C21.7647 28.0891 21.6708 28.3542 21.6984 28.6304C21.726 28.9065 21.8751 29.1661 22.1457 29.4091C22.4108 29.6521 22.6925 29.7736 22.9797 29.7847C23.2669 29.7957 23.5264 29.6687 23.7529 29.4202C23.9793 29.1716 24.0732 28.901 24.0345 28.6193C23.9904 28.3322 23.8357 28.0671 23.5706 27.8296ZM26.6192 30.3259C26.3265 30.0608 26.0172 29.9393 25.6914 29.9503C25.3655 29.9614 25.0728 30.1105 24.8133 30.3977C24.5592 30.6794 24.4432 30.9831 24.4653 31.309C24.4874 31.6348 24.642 31.9275 24.9403 32.1981C25.2275 32.4577 25.5312 32.5792 25.8571 32.5737C26.1829 32.5682 26.4756 32.4135 26.7407 32.1208C27.0003 31.8336 27.1218 31.5299 27.0997 31.2151C27.0776 30.9003 26.9175 30.5965 26.6192 30.3259Z', fill='white')
                path(d='M29.7628 23.8198L31.4141 22.3066L32.5076 23.4995L30.8563 25.0128L32.5684 26.8795L31.3092 28.0337L29.5971 26.167L27.9403 27.6858L26.8467 26.4929L28.5036 24.9741L26.8633 23.1847L28.1225 22.0304L29.7628 23.8198Z', fill='white')
                path(d='M84.3182 118.967C68.4814 118.287 50.3961 107.982 48.4824 90.2159C47.7832 84.2316 49.3041 78.7054 53.2272 74.1042C55.469 71.475 58.1701 69.405 60.7799 67.1483C66.4672 61.9781 72.155 56.7144 78.1176 51.9171C80.8194 49.7536 83.8891 47.9627 87.1394 46.8259C88.8109 46.2573 92.0489 46.8979 92.8742 48.1105C94.4327 50.4425 92.3821 52.2289 90.1495 53.5484C81.5916 58.5441 73.0337 63.5398 64.6597 68.7217C61.682 70.6058 58.7943 72.8637 56.3672 75.4938C47.3127 85.2628 51.8276 101.989 64.4055 105.021C67.0876 105.664 70.704 105.18 73.2145 103.86C78.4215 101.124 83.1706 97.6418 87.9203 94.066C95.0912 88.7022 106.835 91.8316 109.461 100.427C110.186 102.762 108.955 106.603 107.271 108.856C101.659 116.552 93.1239 118.273 84.3182 118.967Z', fill='white' class='comma')
      video.video(loop='loop', autoplay='', muted='')
        source(src='/assets/img/bg-video.mp4', type='video/mp4')
  section.models.wrapper
    .container
      .models__inner
        .models__inner__img
          img(src='assets/img/img_models.png', alt='Models')
        .models__inner__content
          .models__inner__content__title
            h2 Моделям
          .models__inner__content__description
            p.text
              | Раздел будет полезен начинающим моделям, в нем тезисно представлена информация об основах начала работы, площадках для вещания трансляций и вывода денежных средств.
          .models__inner__content__items
            .models__inner__content__item
              .models__inner__content__item__title
                h4 Как начать трансляцию
              .models__inner__content__item__description
                p.text С чего начать, выбор вебкамеры и компьютера
            .models__inner__content__item
              .models__inner__content__item__title
                h4 Платформы для трансляций
              .models__inner__content__item__description
                 p.text Список площадок для конвертации посетителей в деньги.
            .models__inner__content__item
              .models__inner__content__item__title
                h4 Как общаться
              .models__inner__content__item__description
                p.text Как общаться на чужом языке
          .models__inner__content__link
            a(href='#')
              span Получить больше информации
              span.arrow
  section.studio.wrapper
    .container
      .studio__inner
        .studio__inner__title
          .studio__inner__title__inner
            h2 Студиям
          .studio__inner__title__description
            p.text
              | Открыть свою студию для вебкама - задача не из легких. Мы постараемся Вам в ней помочь.
        .studio__inner__items
          .studio__inner__item
            .studio__inner__item__title
              h4 Подбор персонала
            .studio__inner__item__description
              p.text
                | Поиск сотрудников самый важный этап в любом бизнесе, и вебкам не является исключением. То, на сколько правильно вы соберете костяк студии, определит
                | ваше дальнейшее развитие
            .studio__inner__item__link
              a(href='#')
                span Подробнее
                span.arrow
          .studio__inner__item
            .studio__inner__item__title
              h4 Контроль
            .studio__inner__item__description
              p.text
                | Выход сотрудников на работу требует тщательного контроля. Как руководитель, Вы обязаны анализировать успехи своих сотрудников,
                | держать «руку на пульсе» и своевременно реагировать на изменения.
            .studio__inner__item__link
              a(href='#')
                span Перейти на сайт «Модель мониторинг»
                span.arrow
          .studio__inner__item
            .studio__inner__item__title
              h4 Франшиза
            .studio__inner__item__description
              p.text
                | VRMEDIA — одна из наиболее успешных вебкам компаний в стране. На сегодняшний день мы имеем студии в городах: Москва, Красноярск, Новосибирск, Сочи.
            .studio__inner__item__link
              a(href='#')
                span Перейти на сайт франшизы
                span.arrow
        .studio__inner__link
          a(href='#')
            span Получить больше информации
            span.arrow
  section.promotion.wrapper
    .container
      .promotion__inner
        .promotion__inner__items
          .promotion__inner__item
            .promotion__inner__item__title
              h2 Продвижение
            .promotion__inner__item__description
              p.text
                | Опытные веб-модели со временем понимают,что вебкам не заканчивается на онлайн-трансляции и свой контент можно продавать за ее пределами.
            .promotion__inner__item__link
              a(href='#')
                span Получить больше информации
                span.arrow
          .promotion__inner__item
            .promotion__inner__item__img
              img(src='assets/img/img_promotion.png', alt='Promotion')
  section.dmca.wrapper
    .container
      .dmca__inner
        .dmca__inner__items
          .dmca__inner__item
            .dmca__inner__item__title
              h2 DMCA
            .dmca__inner__item__description
              p.text
                | Каждая веб модель, рано или поздно сталкивается с вопросом удаления своих видео и фото из сети интернет.
            .dmca__inner__item__link
              a(href='#')
                span Получить больше информации
                span.arrow
          .dmca__inner__item
            .dmca__inner__item__img
              img(src='assets/img/icon_dmca.svg', alt='DMCA')
  section.exchange.wrapper
    .container
      .exchange__inner
        .exchange__inner__items
          .exchange__inner__item
            .exchange__inner__item__img
              img(src='assets/img/icon_exchange.svg', alt='Exchange')
          .exchange__inner__item
            .exchange__inner__item__title
              h2 Обмен криптовалюты
            .exchange__inner__item__description
              p.text
                | Компания VRMEDIA осуществляет безпроцентный обмен криптовалюты по курсу биржи Binance, с доставкой денежных средств на Вашу карту любого российского банка в день обращения.
            .exchange__inner__item__link
              a(href='#')
                span Получить больше информации
                span.arrow
  section.articles.wrapper
    .container.articles__container
      .articles__wrapper
        .articles__title-wrap
          .articles__title
            h2 Полезные статьи и новости в нашем блоге
          .articles__title__link
            a(href='#') Показать больше статей
        .news__inner
          each article in articles_main
            +article(article)
