extends ../layout/main

block variables
  - var title = 'VRMEDIA index'
  - var description = 'Description index'
  - var pageClass = 'index-page'

block content
  section#traffic__item(style='text-align:center;')
    .container
      h1 VRMEDIA index
