extends ../layout/main

block variablesHeader
  - const isStudio = true
block variables
  - const title = 'VRMEDIA models'
  - const description = 'Description models'
  - const pageClass = 'models-page'
block content
  section.models.wrapper
    .container.models__inner
      .models__inner__wrap
        .models__inner__title
          h1 Студиям
        .models__inner__description
          p.text
            | Прочтение раздела поможет сформировать понимание источников пополнения кадров и контролю персонала. А также даст информацию  по стандартному оборудованию помещений и их дизайну.
