@font-face {
  font-family: 'PTSansCaptionRegular';
  src: url("/assets/fonts/PTSansCaption/PTSansCaption.eot");
  src: url("/assets/fonts/PTSansCaption/PTSansCaption.eot?#iefix")format("embedded-opentype"),
  url("/assets/fonts/PTSansCaption/PTSansCaption.woff") format('woff'),
  url("/assets/fonts/PTSansCaption/PTSansCaption.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'PTSansCaptionBold';
  src: url("/assets/fonts/PTSansCaption-Bold/PTSansCaptionBold.eot");
  src: url("/assets/fonts/PTSansCaption-Bold/PTSansCaptionBold.eot?#iefix")format("embedded-opentype"),
  url("/assets/fonts/PTSansCaption-Bold/PTSansCaptionBold.woff") format('woff'),
  url("/assets/fonts/PTSansCaption-Bold/PTSansCaptionBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url('/assets/fonts/SFProDisplay-UltraLight/SFProDisplay-Ultralight.eot');
  src: local('SF Pro Display Ultralight'), local('SFProDisplay-Ultralight'),
  url('/assets/fonts/SFProDisplay-UltraLight/SFProDisplay-Ultralight.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/SFProDisplay-UltraLight/SFProDisplay-Ultralight.woff2') format('woff2'),
  url('/assets/fonts/SFProDisplay-UltraLight/SFProDisplay-Ultralight.woff') format('woff'),
  url('/assets/fonts/SFProDisplay-UltraLight/SFProDisplay-Ultralight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url("/assets/fonts/SFProDisplay-Bold/SFProDisplay-Bold.eot");
  src: url("/assets/fonts/SFProDisplay-Bold/SFProDisplay-Bold.eot?#iefix")format("embedded-opentype"),
  url("/assets/fonts/SFProDisplay-Bold/SFProDisplay-Bold.woff") format('woff'),
  url("/assets/fonts/SFProDisplay-Bold/SFProDisplay-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url("/assets/fonts/SFProDisplay-900/SFProDisplay-Black.eot");
  src: url("/assets/fonts/SFProDisplay-900/SFProDisplay-Black.eot?#iefix")format("embedded-opentype"),
  url("/assets/fonts/SFProDisplay-900/SFProDisplay-Black.woff") format('woff'),
  url("/assets/fonts/SFProDisplay-900/SFProDisplay-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}
//  src: local('SF Pro Display Bold'), local('SFProDisplay-Bold'),
