@font-face {
  font-family: 'PTSansCaptionRegular';
  src: url("/assets/fonts/PTSansCaption/PTSansCaption.eot");
  src: url("/assets/fonts/PTSansCaption/PTSansCaption.eot?#iefix")format("embedded-opentype"),
  url("/assets/fonts/PTSansCaption/PTSansCaption.woff") format('woff'),
  url("/assets/fonts/PTSansCaption/PTSansCaption.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'PTSansCaptionBold';
  src: url("/assets/fonts/PTSansCaption-Bold/PTSansCaptionBold.eot");
  src: url("/assets/fonts/PTSansCaption-Bold/PTSansCaptionBold.eot?#iefix")format("embedded-opentype"),
  url("/assets/fonts/PTSansCaption-Bold/PTSansCaptionBold.woff") format('woff'),
  url("/assets/fonts/PTSansCaption-Bold/PTSansCaptionBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
