/*variables colors*/
$dark-main: #171e29;
$dark-second: #2E343F;
$dark-3: rgb(38, 43, 52);
$dark-4: #222934;
$grey-1: #A1A8B3;
$grey-2: #434852;
$grey-3: #CFD6E0;
$grey-4: #F0F4F9;
$grey-subtitle: #818181;
$grey-blue :#afbcd0;
$black: #1d2127;
$white :#ffffff;
$pink: #f03382;
$pink-hover: #D82E75;
/*variables color background*/
$bg-med-grey: #f2f2f2;
$bg-light-grey: #E5E5E5;
$bg-main: #2E343F;
/*variables @media*/
$screen-xs-min: 321px;
$screen-sm-min: 576px;
$screen-md-min: 769px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
$screen-xxl-min: 1381px;

$screen-xxs-max: 320px;
$screen-xs-max: 575px;
$screen-sm-max: 768px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;
$screen-xl-max: 1380px;

////
$light-grey: #a8aab3;
$dark-grey: #2E343F;
$lnk-grey: #667384;
$subtitle-grey: #9a9da2;
$add-grey: #c9c4c6;

$pink-dark: #cf367f;
$pink-bg: #ffe1e7;

/*variables color background*/
$bg-black: #121822;
$bg-dark-grey: #171e29;
$bg-blue-grey: #dbe1e9;
