@import "../utils/vars";
@import "../utils/mixins";

.remodal-overlay {
  @media (max-width: $screen-xs-max) {
    background: none;
  }
}

.remodal-wrapper {
  @media (min-width: $screen-sm-min) {
    top: 50%;
    transform: translateY(-50%);
    overflow: initial;
  }

  @media (max-width: $screen-xs-max) {
    padding: 70px 0 0;
    top: 0;
    overflow: hidden;
  }
  &::after {
    display: none;
  }
}
.remodal {
  background-color: $dark-4;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  max-width: 500px;
  padding: 55px 65px;
  text-align: left;
  font-size: 13px;
  line-height: 20px;
  color: $white;
  margin-bottom: 0;
  @media (max-width: $screen-xs-max) {
    max-width: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 55px 20px;
    border-radius: 0;
  }
  @media (max-width: $screen-xxs-max) {
    padding: 55px 10px;
  }
  &__inner {
    width: 100%;
  }
  h1 {
    font-size: 30px;
    line-height: 20px;
    color: $white;
  }
  &__subtitle {
    padding-top: 25px;
  }
  .remodal__button__wrap {
    padding-top: 40px;
  }
  .remodal-confirm,
  .remodal-cancel {
    @include btn__custom__arrow-extend();
    width: 100%;
  }
  &__bottom {
    padding-top: 15px;
    &__link {
      @include lnk__custom__solid-include();
      font-size: 13px;
      line-height: 20px;
      @media (max-width: $screen-sm-max) {
        font-size: 13px;
        line-height: 20px;
      }
    }
  }
  .form__block__wrap {
    padding-top: 15px;
    .form__block {
      @include form__block($dark-second, $grey-3, $white, $white, $dark-second, 50px, 16px, 20px, 15px);
      margin-bottom: 0;
      @media (max-width: $screen-xs-max) {
        max-width: none;
      }
    }
    .form__error {
      font-size: 11px;
      line-height: 14px;
      color: $red-error;
      display: none;
      &.visible {
       display: initial;
      }
    }
  }
}
