@import '.././utils/vars.scss';
@import '.././utils/mixins.scss';

.monetization {
  margin-top: 70px;
  .monetization__title {
    @include title2-black;
  }
  .monetization__description {
    @include text-title;
    max-width: 670px;
    padding-top: 20px;
    padding-bottom: 40px;
  }
  @include platforms;
}
