mixin instruction-item(instruction)
  a(href=instruction.img_small).instruction__content__item
    .instruction__content__item__inner
        img(src=instruction.img_big, alt=instruction.title)
    if instruction.hasBtn === 'true'
      p.hiddentext I`am a DMCA protected webcam model, ссылка на ваш сертификат DMCA. Please remove the following content from search results.
